<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.csbe.web.cms.news.mapper.AreaMapper">


	<select id="selectArea" resultType="cn.csbe.web.cms.news.bean.Area">
		select id,name from area_info where parent_id is null
	</select>
</mapper>